<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <title>Método DeRose | Sede Núñez</title>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

  <script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.lightbox-0.5.css" media="screen" />

  <%= stylesheet_link_tag "formtastic" %>
  <%= stylesheet_link_tag "formtastic_changes" %>
  <%= stylesheet_link_tag 'application' %>
<!--[if IE]>
  <%= stylesheet_link_tag 'application-ie' %>
<![endif]-->
</head>
<body>
  <div id="wrapper">
    <div id="container">
      <div id="menu">
        <ul>
          <%= content_tag( :li, link_to('Sede Núñez', '/'), :class => "index #{'selected' if controller_name == 'pages' && current_page == 'pages/index'}")%>
          <%= content_tag( :li, link_to('Método DeRose', '/pages/metodo'), :class => "metodo #{'selected' if controller_name == 'pages' && current_page == 'pages/metodo'}")%>
          <%= content_tag( :li, link_to('Formación Profesional', '/pages/formacion'), :class => "formacion #{'selected' if controller_name == 'pages' && current_page == 'pages/formacion'}")%>
          <%= content_tag( :li, link_to('Material Didáctico', '/pages/material'), :class => "material #{'selected' if controller_name == 'pages' && current_page == 'pages/material'}")%>
          <%= content_tag( :li, link_to('Imagenes', '/pages/imagenes'), :class => "imagenes #{'selected' if controller_name == 'pages' && current_page == 'pages/imagenes'}")%>
          <%= content_tag( :li, link_to('Empresas', '/pages/empresas'), :class => "empresas #{'selected' if controller_name == 'pages' && current_page == 'pages/empresas'}")%>
          <%= content_tag( :li, link_to('Contacto', '/contact_form/new'), :class => "contacto #{'selected' if controller_name == 'contact_forms'}")%>
        </ul>
        <ul id='connect'>
          <li class='facebook'><%= link_to 'Facebook', 'http://www.facebook.com/profile.php?ref=profile&id=100000659349991', :popup => true %></li>
          <li class='twitter'><%= link_to 'Twitter', 'http://www.twitter.com/derosenunez', :popup => true %></li>
          <li class='linkedin'><%= link_to 'linkedIn', 'http://ar.linkedin.com/pub/método-derose-nuñez/19/536/743', :popup => true %></li>
        </ul>
        <span id="logo">Método DeRose</span>
      </div>
      <div id="main" class='<%= controller.controller_name == 'pages' ? current_page.gsub!('pages/', '') : 'contact'%>'>
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= link_to 'Novedades', blog_path, :id => 'badge', :class => 'novedades' %>
      </div>
    </div>
    <div id='credits'>
      <p>Camila Carbone | Luis Perichon</p>
    </div>
  </div>
  <div id='footer'>
    <b>D.</b> <a href="http://maps.google.com.ar/maps?f=q&source=s_q&hl=es&geocode=&q=Av.+Cris%C3%B3logo+Larralde+1721&sll=-34.536258,-58.452072&sspn=0.034857,0.053816&gl=ar&ie=UTF8&hq=&hnear=Av+Cris%C3%B3logo+Larralde+1721,+N%C3%BA%C3%B1ez,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires&z=16">Crisólogo Larralde 1721 (C1429BSH) Argentina</a> · <b>T.</b> (54 11) 4703 3215 · <b>M.</b> <%= mail_to 'nunez@metododerose.com.ar', 'nunez@metododerose.com.ar', :encode => "javascript" %> ·
  </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-12578767-1");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>