<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <title>Método DeRose | Sede Nuñez</title>
  <%= stylesheet_link_tag "formtastic" %>
  <%= stylesheet_link_tag "formtastic_changes" %>
  <%= stylesheet_link_tag 'application' %>
<!--[if IE]>
  <%= stylesheet_link_tag 'application-ie' %>
<![endif]-->
</head>
<body>
  <div id="wrapper">
    <div id="container">
      <div id="menu">
        <ul>
          <%= content_tag :li, 'Comunicate con nosotros!', :class => 'selected' if controller_name == 'contact_forms' %>
        </ul>
        <span id="logo">Metodo DeRose</span>
      </div>
      <div id="main">
        <%= yield %>
      </div>
      <div id="sidebar">
        <span id="badge" class="sede">Nueva sede Nuñez</span>
      </div>
    </div>
    <div id='credits'>
      <p>Camila Carbone | Luis Perichon</p>
    </div>
  </div>
  <div id='footer'>
    <b>D.</b> <a href="http://maps.google.com.ar/maps?f=q&source=s_q&hl=es&geocode=&q=Av.+Cris%C3%B3logo+Larralde+1721&sll=-34.536258,-58.452072&sspn=0.034857,0.053816&gl=ar&ie=UTF8&hq=&hnear=Av+Cris%C3%B3logo+Larralde+1721,+N%C3%BA%C3%B1ez,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires&z=16">Av. Crisólogo Larralde 1721 · C1429BSH · BUE</a> · <b>T.</b> (0054 11) 4623 3426 · <b>M.</b> DeRoseNuñez@MetodoDeRose.com.ar ·
  </div>
</body>
</html>